.site-footer {
    background-color: $white;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media only screen and (max-width: $mobile_max) {
        flex-direction: column;
      }
    }
    &__logo-desc {
      flex-basis: calc((100% / 3) - 4rem);
    }
    &__logo {
        img {
            height: 12rem;
            display: block;
            @media only screen and (max-width: $mobile_max) {
              margin: 0 auto;
            }
        }
    }
    &__desc {
      display: block;
      margin-top: 1.5rem;
      margin-bottom: 2.5rem;
      color: $blue;
      font-style: italic;
      font-weight: 400;
      @media only screen and (max-width: $tablet_max) {
        text-align: center;
    }
    }

    &__address {
      color: $blue;
      position: relative;
      &::before {
        content: '';
        background-image: url('../img/icons/address.svg');
        background-repeat: no-repeat;
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 0.5rem;
        vertical-align: middle;
      }
    }

    &__social-media {
      @media only screen and (max-width: $mobile_max) {
        width: 100%;
      }
    }

    &__social-media-icons {
      display: flex;
      img {
        height: 3rem;
      }
    }
    .main-navigation {
      flex-basis: calc((100% / 3) - 2rem);
      ul li {
        a {
          color: $blue;
          display: block;
          margin-bottom: 0.8rem;
          transition: all 300ms ease-in;
          &:hover {
            color: $red;
          }
        }
      }
    }
    &__copyright {
      background-color: $black;
      padding: 1rem 0;
      text-align: center;
      p {
        color: $white;
        @media only screen and (max-width: $mobile_max) {
          font-size: 0.8rem;
        }
      }
    }
    &__copyright-margins {
      @include container-margins;
    }
    &__main-content {
      @media only screen and (max-width: $mobile_max) {
        margin-top: 3.5rem;
        margin-bottom: 3rem;
        width: 100%;
      }
    }
}

.site-info {
    @include container-margins;
}