@import "globals/mixins";
@import "globals/colors";
@import "globals/variables";

@import "header";
@import "footer";

//Pages
@import "pages/front-page";

body {
    position: relative;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }

  figure {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $OpenSans;
  }

  a, li, p {
    font-family: $robtoSlab;
  }

  a { 
    text-decoration: none;
  }

  ul {
    list-style: none;
}

.content {
    flex: 1;
  }

  $bezier: cubic-bezier(0.64, 0.04, 0.35, 1);
  .to-reveal {
    opacity: 0;
    position: relative;
    top: 20px;
  }
  
  .revealed {
    transition: 0.6s $bezier;
    opacity: 1;
    position: relative;
    top: 0;
  }