.c-about-page {
  @include container-margins;
  &__header {

  }
  &__small-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    color: $red;
    letter-spacing: 1.2px;
  }
  &__title {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    color: $blue;
  }
  &__header-desc {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 24px;
  }
}

.c-team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5rem 0;
}

.c-team-member {
  flex-basis: calc((100% / 3) - 2rem);
  margin-bottom: 3.5rem;
  @media only screen and (max-width: $tablet_max) {
    flex-basis: calc((100% / 2) - 1rem);
}
@media only screen and (max-width: $mobile_max) {
  flex-basis: 100%;
}
  &__image {
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    &::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 80%;
    @media only screen and (max-width: $tablet_max) {
        padding-bottom: 100%;
    }
    }
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        transition: .3s cubic-bezier(.64,.04,.35,1);
        &:hover {
            transform: scale(1.05);
          }
    }
  }
}