.c-homepage {
  &__slide {
      img {
        width: 100%;
        height: 90vh;
        display: block;
        object-fit: cover;
      }
  }
  
  &__book-apt {
    @include container-margins;
    &__main-content {
      display: flex;
      justify-content: space-between;
      margin: 5rem 0;
      @media only screen and (max-width: $tablet_max) {
          flex-direction: column;
      }
    }
    &__title {
      margin-bottom: 1.5rem;
      font-weight: 400;
      color: $blue;
    }
    &__content {
      flex-basis: calc((100% / 2) - 3rem);
      @media only screen and (max-width: $tablet_max) {
        margin-bottom: 3.5rem;
      }
    }
    &__cta {
      display: inline-block;
      margin-top: 2.5rem;
      background-color: $red;
      color: $white;
      padding: 0.8rem 1.5rem;
    }
    &__image {
      flex-basis: calc((100% / 2) - 3rem);
      position: relative;
      margin-bottom: 1rem;
      overflow: hidden;
      box-shadow: $box-shadow-light-black--3;
      &::before {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 80%;
      @media only screen and (max-width: $tablet_max) {
          padding-bottom: 100%;
      }
      }
      img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          transition: .3s cubic-bezier(.64,.04,.35,1);
          &:hover {
              transform: scale(1.05);
            }
      }
    }
  }

  &__testimonials {
    background-color: $light-tan;
    &__title {
      color: $blue;
      text-align: center;
      font-weight: 300;
      margin-bottom: 3.5rem;
    }
    &__slide-title {
      text-align: right
    }
  }
  &__testimonials-container {
    @include container-margins;
    padding: 5rem 0;
  }
  &__testimonials__slides {
    margin-top: 2.5rem;
  }
  &__testimonials__slide {
    position: relative;
    margin-left: 3rem;
    margin-right: 3rem;
    &::before {
      content: '';
      background-image: url('../img/icons/quote.svg');
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      display: inline-block;
      position: absolute;
      top: 0;
      left: -40px;
    }
    &::after {
      content: '';
      background-image: url('../img/icons/quote.svg');
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: -40px;
      transform: scaleX(-1)
    }
  
  }
}

.c-homepage__testimonials__slide__prev-arrow {
  background-image: url('..//img/icons/arrow.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  transform: scaleX(-1);
  cursor: pointer;
}

.c-homepage__testimonials__slide__next-arrow {
  background-image: url('..//img/icons/arrow.svg');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
