.c-page-services {
    @include container-margins;
    &__header {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    &__title {
        text-align: center;
        font-weight: 300;
        letter-spacing: 1.2px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5rem;
        @media only screen and (max-width: $tablet_max) {
            margin-bottom: 2.5rem;
        }
    }
    &__list-item {
        flex-basis: calc((100% / 4) - 2rem);
        margin-bottom: 2.5rem;
        cursor: pointer;
        @media only screen and (max-width: $tablet_max) {
            flex-basis: calc((100% / 2) - 2rem);
        }
        @media only screen and (max-width: $mobile_max) {
            flex-basis: calc((100% / 1) - 2rem);
        }
        figure {
            position: relative;
            margin-bottom: 1rem;
            overflow: hidden;
            box-shadow: $box-shadow-light-black--3;
            &::before {
                content: "";
                position: relative;
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 80%;
                @media only screen and (max-width: $tablet_max) {
                    padding-bottom: 100%;
                }
                }
                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    object-fit: cover;
                    transition: .3s cubic-bezier(.64,.04,.35,1);
                    &:hover {
                        transform: scale(1.05);
                      }
                }
        }
    }
    &__list-item-title {
        color: $blue;
        font-weight: 400;
    }
    &__why-choose-us {
        background-color: rgba($offWhite, 0.4);
        padding: 2.5rem 0;
        width: 100vw;
        left: calc(50% - 50vw);
        position: relative;
        &__content {
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: $tablet_max) {
                flex-direction: column;
            }
        }
        &__left {
            flex-basis: calc((100% / 2 ) - 4rem);
        }
        &__images {
            flex-basis: calc((100% / 2 ) - 3rem);
        }
        &__small-image {
            position: relative;
            margin-bottom: 1rem;
            overflow: hidden;
            &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 50%;
            @media only screen and (max-width: $tablet_max) {
                padding-bottom: 100%;
            }
            }
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                transition: .3s cubic-bezier(.64,.04,.35,1);
                &:hover {
                    transform: scale(1.05);
                  }
            }
        }
        &__big-image {
            position: relative;
            margin-bottom: 1rem;
            overflow: hidden;
            &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 80%;
            @media only screen and (max-width: $tablet_max) {
                padding-bottom: 100%;
            }
            }
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                transition: .3s cubic-bezier(.64,.04,.35,1);
                &:hover {
                    transform: scale(1.05);
                  }
            }
        }
    }
    &__why-choose-us-wrapper {
        @include container-margins;
    }
    &__why-title {
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
        color: $blue;
        margin-top: 2.5rem;
        margin-bottom: 10rem;
    }
    
 // Dropdown List
 
 &__dropdown-list {
    display: flex;
    flex-direction: column;
 }

 &__dropdown-list-item {
    margin-bottom: 3.5rem;
 }

 &__dropdown-list-item-content {
    overflow: hidden;
    p {
       
    }
 }

 &__dropdown-list-item-title {
    color: $blue;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    svg {
        width: 15px;
        height: 15px;
        transition: 300ms;
        transform: rotate(-180deg);
    }
 }

 &__dropdown-list-item-active-title {
    svg {
        transform: rotate(-90deg);
        path {
           
        }
    }
 }

 &__wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    border-bottom: 1px solid rgba($light-grey, 0.4);
    padding-bottom: 1rem;
    &.is-open {
        grid-template-rows: 1fr;
    }
  }

}